body {
   background: linear-gradient(
                  294.28deg,
                  #ffeec4 0%,
                  #e7cfeb 53.65%,
                  #a5d9f7 100%);
}

.wrapper {
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   width: 920px;
   border-radius: 12px;
   padding: 32px;
   margin: 0 auto;
}

.content h1 {
   font-size: 30px;
   text-align: center;
   font-weight: 900;
}

.form {
   display: flex;
   margin-top: 32px;
}

.form__input {
   background: rgba(255, 255, 255, 0.6);
   width: 75%;
   border-radius: 4px 0 0 4px;
   padding: 16px 24px;
   font-size: 18px;
}

.form__search-btn {
   width: 25%;
   cursor: pointer;
   border-radius: 0 4px 4px 0;
   color: white;
   background-color: black;
}

.results {
   margin-top: 16px;
   padding: 12px;
   border-radius: 6px;
   display: none;
   background: rgba(240, 233, 241, 0.5);
}

.results__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.results__word {
   font-size: 32px;
   font-weight: 700;
}

.results__sound {
   width: 38px;
   cursor: pointer;
}

.results__list {
   margin-top: 16px;
   display: flex;
   flex-direction: column;
}

.result__item {

}

.result__item-part-of-speech {
   font-size: 14px;
   font-weight: 700;
}

.result__item-definitions {
   margin-top: 5px;
   display: flex;
   flex-direction: column;
}

.result__item-definition {
   position: relative;
   box-shadow: 0px 0px 10px 0px rgba(125, 125, 125, 0.15);
   border-radius: 4px;
   padding: 16px;
}

.result__item-definition p {
   font-size: 20px;
   position: relative;
}

.results__item-example {
   padding-top: 5px;
   margin-top: 5px;
   border-top: 1px solid rgba(125, 125, 125, 0.15);
}

.results__item-example p {
   position: relative;
   padding-left: 16px;
   font-size: 14px;
}